<div class="product-page-colour-swatches__wrapper display-grid text-center">

[wpv-conditional if="( '[types field='colour-swatch-options' option='0'][/types]' eq 'Stone Green' )"]
<figure class="product-swatch_1">
<div class="swatch"></div>
<figcaption>Stone Green</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='1'][/types]' eq 'Cornsilk' )"]
<figure class="product-swatch_2">
<div class="swatch"></div>
<figcaption>Cornsilk</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='2'][/types]' eq 'Dark Olive' )"]
<figure class="product-swatch_3">
<div class="swatch"></div>
<figcaption>Dark Olive</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='3'][/types]' eq 'Malvern Green' )"]
<figure class="product-swatch_4">
<div class="swatch"></div>
<figcaption>Malvern Green</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='4'][/types]' eq 'Olive Grey' )"]
<figure class="product-swatch_5">
<div class="swatch"></div>
<figcaption>Olive Grey</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='5'][/types]' eq 'Vintage White' )"]
<figure class="product-swatch_6">
<div class="swatch"></div>
<figcaption>Vintage White</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='6'][/types]' eq 'Gypsy Green' )"]
<figure class="product-swatch_7">
<div class="swatch"></div>
<figcaption>Gypsy Green</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='7'][/types]' eq 'Rush Green' )"]
<figure class="product-swatch_8">
<div class="swatch"></div>
<figcaption>Rush Green</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='8'][/types]' eq 'Fern Green' )"]
<figure class="product-swatch_9">
<div class="swatch"></div>
<figcaption>Fern Green</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='9'][/types]' eq 'Honey Dew' )"]
<figure class="product-swatch_10">
<div class="swatch"></div>
<figcaption>Honey Dew</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='10'][/types]' eq 'Mustard' )"]
<figure class="product-swatch_11">
<div class="swatch"></div>
<figcaption>Mustard</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='11'][/types]' eq 'Reflections' )"]
<figure class="product-swatch_12">
<div class="swatch"></div>
<figcaption>Reflections</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='12'][/types]' eq 'Dove Grey' )"]
<figure class="product-swatch_13">
<div class="swatch"></div>
<figcaption>Dove Grey</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='13'][/types]' eq 'Soft White' )"]
<figure class="product-swatch_14">
<div class="swatch"></div>
<figcaption>Soft White</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='14'][/types]' eq 'Ruddy Red' )"]
<figure class="product-swatch_15">
<div class="swatch"></div>
<figcaption>Ruddy Red</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='15'][/types]' eq 'Ocean Blue' )"]
<figure class="product-swatch_16">
<div class="swatch"></div>
<figcaption>Ocean Blue</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='16'][/types]' eq 'Urban Grey' )"]
<figure class="product-swatch_17">
<div class="swatch"></div>
<figcaption>Urban Grey</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='17'][/types]' eq 'White Smoke' )"]
<figure class="product-swatch_18">
<div class="swatch"></div>
<figcaption>White Smoke</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='18'][/types]' eq 'Schoolhouse Ink' )"]
<figure class="product-swatch_19">
<div class="swatch"></div>
<figcaption>Schoolhouse Ink</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='19'][/types]' eq 'Squid Ink' )"]
<figure class="product-swatch_20">
<div class="swatch"></div>
<figcaption>Squid Ink</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='20'][/types]' eq 'Pebble' )"]
<figure class="product-swatch_21">
<div class="swatch"></div>
<figcaption>Pebble</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='21'][/types]' eq 'Fleet Grey' )"]
<figure class="product-swatch_22">
<div class="swatch"></div>
<figcaption>Fleet Grey</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='22'][/types]' eq 'Graphite Grey' )"]
<figure class="product-swatch_23">
<div class="swatch"></div>
<figcaption>Graphite Grey</figcaption></figure>
[/wpv-conditional]
[wpv-conditional if="( '[types field='colour-swatch-options' option='23'][/types]' eq 'Green Black' )"]
<figure class="product-swatch_24">
<div class="swatch"></div>
<figcaption>Green Black</figcaption></figure>
[/wpv-conditional]
</div>
